.idea
**/__pycache__/
src/loll
src/klad
saved_universes
plots
sphere_generator
test_run
lib
logs
*.prof
*.dat
*.npy
*.txt
measurements
src/2+1/visualisation
networks
example_code
spectral_dimension2.ipynb
main_copy.py
simulation_func.py
simulation_mt2.py
simulation_mt3.py
ray_env
graphs
evaluate.ipynb
src/2+1/experiments
src/1+1/experiments
*ray.py
halfedge.py
src/2+1/classes/triangle.py
*.log
tests
visualisation